{% load static %}

<div class="card-row">
    <div class="percent60">
        <div class="row">
            <span class="body-2">{{ data.created_by.full_name }}</span>
        </div>
        <div class="row">
            <a class="body-2 link-item" href="{{ data.attachment.url }}" target="_blank">{{ data.attachment }}</a>
        </div>
    </div>

    <div class="percent40">
        <div class="row">
            <span class="body-2">
                {% if data.status == 'withdrawn' %}
                    <img src="{% static 'assets/check.svg' %}" alt="Ícone de check">
                {% else %}
                    <img src="{% static 'assets/dell.svg' %}" alt="Ícone de cancel">
                {% endif %}
            </span>
        </div>

        <div class="row">
            <span class="body-2">{{ data.created_at.date }}</span>
        </div>

        <div class="row">
            <span class="body-2">
                {% if data.status == 'withdrawn' %}
                    {{ data.withdrawn_at }}
                {% else %}
                    -
                {% endif %}
            </span>
        </div>
    </div>


</div>