{% load static %}

<div class="modal-alert">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="headline-4">Envie uma mensagem para todos os usuários</h4>
        </div>

        <form action="" class="modal-form">
            <div class="input__wrapper body-2">
                <label for="quantity" class="required">Título da mensagem</label>
                <input class="base__input modal__input" type="text" name="" id="quantity" placeholder="Dê um título para a mensagem que será enviada como aviso">
            </div>
    
            <div class="input__wrapper body-2">
                <label for="observations" class="required">Corpo da mensagem</label>
                <textarea class="base__input textarea modal__input" name="observations" id="observations" placeholder="Informe o que deseja passar no aviso para os usuários"></textarea>
            </div>

            <div class="modal-footer">
                <button class="base outline" id="modal-btn-close">
                    <span class="button-text">fechar</span>
                </button>
                <button class="base default" id="modal-btn-printed">
                    <span class="button-text">enviar</span>
                </button>
            </div>
        </form>
    </div>
</div>