{% load static %}

<div class="modal">
    <div class="modal-content">
        <div class="tag tag-pending">
            <span class="caption">pendente</span>
        </div>

        <div class="modal-header">
            <span class="label caption">solicitado em 16/02/2023</span>
            <h3 class="headline-3">John Doe Foo Bar</h3>
        </div>

        <div class="modal-observations">
            <h5 class="headline-5">Observações:</h5>
            <span class="body-2">Por favor, imprima frente e verso para as provas de matemática e quimíca</span>
        </div>

        <div class="modal-body">
            <h5 class="headline-5">Anexo:</h5>
            <div class="row" style="justify-content: space-between;">
                <div class="row">
                    <img src="{% static 'assets/paperclip.svg' %}" alt="Ícone de anexo">
                    <span class="body-2 attachment">Provas de Matemática</span>
                </div>
                <span class="body-2">x8</span>
            </div>
        </div>

        <div class="modal-withdraw">
            <h5 class="headline-5">Retirada:</h5>
            <div class="row">
                <img src="{% static 'assets/calendar.svg' %}" alt="Ícone de calendário">
                <p class="body-2">16/02/2023</p>
            </div>
        </div>

        <div class="warning">
            <p class="body-2 warning">Ao marcar como impresso, será enviado um e-mail automático para o solicitante informando que o documento está pronto para retirada.</p>
        </div>

        <div class="modal-footer">
            <button class="base outline" id="modal-btn-close">
                <span class="button-text">fechar</span>
            </button>
            <button class="base default" id="modal-btn-printed">
                <span class="button-text">marcar como impresso</span>
            </button>
        </div>
    </div>
</div>