.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 8px;
    border-block: 2px solid #FF7A00;
}

.label {
    color: var(--neutral-500);
    text-transform: uppercase;
    margin: 0;
}

.row {
    display: flex;
    align-items: center;
    gap: 4px;
}