header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: var(--neutral-white);
  margin-bottom: 24px;
}

header img {
  width: 80px;
  height: 80px;
}

nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

nav a {
  text-decoration: none;
  color: var(--neutral-600);
}

nav a:hover {
  color: var(--neutral-700);
}

.active-page {
  color: var(--brand-500);
}

.active-page:hover {
  color: var(--brand-600);
}

#username {
  font-weight: bold;
}

#dropdown {
  all: unset;
  cursor: pointer;
}

#dropdown > img{
  width: 24px;
  height: 24px;
}

.True {
  flex-direction: row;
  justify-content: space-between;
}