.base__input {
  height: 48px;
  padding-inline: 16px;
  border-radius: 8px;
  background-color: var(--neutral-white);
  border: 1px solid var(--neutral-200);
  outline: none;
  color: #000;

  display: flex;
  align-items: center;

  /* Body 2 */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
}

.base__input::placeholder {
  color: var(--neutral-500);
}

.textarea {
  padding-block: 16px;
  resize: none;
  height: 260px;
}

.input__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.modal__input {
  background: var(--neutral-150, #F1F1F1);
  border: 1px solid var(--neutral-150, #E0E0E0);
}

.input__wrapper label[class="required"]::after {
  content: "*";
  color: var(--error-500, #d32f2f);
}
