.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
}

#login-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}

span[class^="subtitle"] {
  color: var(--neutral-800);
  text-align: center;
}

.splitter {
  width: 148px;
  height: 2px;
  background-color: var(--neutral-300);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  max-width: 780px;
}

a {
  text-decoration: none;
  color: var(--neutral-white);
}


@media screen and (max-width: 768px) {
  .container { 
    padding-inline: 16px;
  }

  .wrapper h1 {
    font-size: 2rem;
    line-height: 48px;
  }
}