{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/components/button.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/input.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/401.css' %}">
{% endblock css %}

{% block title %}Acesso não autorizado - SGFI{% endblock %}

{% block main %}

{% include 'apps/core/header.html' with role=role %}

<div class="global-wrapper">
    
   <div class="img-container">
        <div class="title">
            <h3 class="headline-3">Acesso não autorizado</h3>
            <h5 class="subtitle-1">Você não tem permissão para acessar esta página</h5>
            <a href="{% url 'dashboard' %}" class="back body-2">Voltar para a página de dashboard</a>
        </div>
        <img src="{% static 'assets/security.svg' %}" alt="Acesso não autorizado">
   </div>
</div>

{% include 'apps/core/footer.html' %}

{% endblock main %}