{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/components/button.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/footer.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/input.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/historyCard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/history.css' %}">
{% endblock css %}

{% block title %}Histórico de Impressão - SGFI{% endblock %}

{% block main %}

{% include 'apps/core/header.html' with user=user %}

<div class="global-wrapper">
    <div class="global-container">
        <div class="title">
            <h3 class="headline-4">Histórico</h3>
            <h5 class="subtitle-1" style="color: #8f8f8f">Abaixo você pode visualizar um histórico completo de todas as solicitações ao sistema</h5>
        </div>
        <main class="global-container ">
            <div class="general">
                <div class="table-header">
                    <div class="percent60">
                        <span class="subtitle-2 base-label primary-label">
                            Solicitante
                        </span>
                        <span class="subtitle-2 base-label primary-label">
                            Conteúdos
                        </span>
                    </div>

                    <div class="percent40">
                        <span class="subtitle-2 base-label secondary-label">
                            Foi retirado?
                        </span>
                        <span class="subtitle-2 base-label secondary-label">
                            Solicitado
                        </span>
                        <span class="subtitle-2 base-label secondary-label">
                            Retirado
                        </span>
                    </div>

                </div>
                <div class="table-column">
                    {% for data in prints %}
                        {% include 'apps/core/historyCard.html' with data=data %}
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
    {% include 'apps/core/footer.html' %}
</div>
{% endblock %}
