{% load static %}

<div class="container request-card {{ data.status }}">
    <span class="label caption">solicitado em {{ data.created_at }}</span>

    <h3 id="requester" class="subtitle-1">{{ data.created_by.full_name }}</h3>
    <div class="row" style="justify-content: space-between;">
        <div class="row">
            <img src="{% static 'assets/paperclip.svg' %}" alt="Ícone de anexo">
            <span class="body-2 attachment">{{ data.attachment.name }}</span>
        </div>
        <span class="caption">x{{ data.print_count }}</span>
    </div>

    <span class="label caption">retirada:</span>
    <div class="row">
        <img src="{% static 'assets/calendar.svg' %}" alt="Ícone de calendário">
        <p class="caption">{{ data.withdraw_date }}</p>
    </div>
    <div class="row">
        <img src="{% static 'assets/clock.svg' %}" alt="Ícone de relógio">
        <p class="caption">{{ data.withdraw_time }}</p>
    </div>
</div>